doctype html
html(lang='en')
    include secondaryHeader
    main#main
      .container
        .row.topspace
          // Article main content
          article.col-sm-8.maincontent
            header.page-header
              h1.page-title Wil The Thrill
            p
            h3 About
            p
              | I am a junior software developer looking for a career that makes me proud. My background in risk management is reflected in my approach to creating software. Although my rational approach to risk doesn’t make me risk averse. I see myself in a start-up environment where performance directly correlates to job security. I’d like to be part of an industry that will drastically change how people view the world. Within a decade ‘The internet of things’ will be in everything. Microfinance is going to spawn a global entrepreneurially renaissance that will disrupt many modern financial institutions. These are industries I see myself becoming a part of. I value honesty above all else. Without honesty there is no trust and without trust there is no point.
            blockquote
              | "New knowledge is the most valuable commodity on earth. The more truth we have to work with, the richer we become." - Vonnegut from Breakfast of Champions
            p
              | Velit, odit, eius, libero unde impedit quaerat dolorem assumenda alias consequuntur optio quae maiores ratione tempore sit aliquid architecto eligendi pariatur ab soluta doloremque dicta aspernatur labore quibusdam dolore corrupti quod inventore. Maiores, repellat, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam!
            ul
              li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus!
              li Laboriosam, aliquam totam asperiores nam velit voluptatum non quidem.
              li Voluptatem, libero quia voluptatum ab modi facere dolore assumenda?
              li Expedita, officia tenetur doloremque nulla temporibus ab voluptates adipisci.
              li
                | Nostrum, nesciunt, inventore amet temporibus officia perferendis doloremque nulla.
              li Dolorum, ex earum maiores perspiciatis modi sequi odit mollitia.
          // /Article
          // Sidebar
          aside.col-md-4.sidebar.sidebar-left.playlist
              .widget
                a.twitter-timeline(href='https://twitter.com/WilBeCoding', data-widget-id='666353981652779008') Tweets by @WilBeCoding
                   script.
                     !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

          // /Sidebar
      // /container

  include footerPlaceholder
