doctype html
html(lang='en')
    include secondaryHeader
    main#main
      .container
        .row.topspace
          // Article main content
          article.col-sm-8.maincontent
            header.page-header
              h1.page-title Wil The Thrill
            p
            h3 About
            p
              | I am a junior software developer looking for a career that makes me proud. My background in risk management is reflected in my approach to creating software. Although my rational approach to risk doesn’t make me risk averse. I see myself in a start-up environment where performance directly correlates to job security. I’d like to be part of an industry that will drastically change how people view the world. Within a decade ‘The internet of things’ will be in everything. Microfinance is going to spawn a global entrepreneurially renaissance that will disrupt many modern financial institutions. These are industries I see myself becoming a part of. I value honesty above all else. Without honesty there is no trust and without trust there is no point.
            blockquote
              | "New knowledge is the most valuable commodity on earth. The more truth we have to work with, the richer we become." - Vonnegut from Breakfast of Champions
            h3 Trading
            p
              | For five years I independently employed trading, option, and hedging strategies in various market environments based on proprietary modeling techniques and scenario analysis. I made market decisions based on factors that may impact price movement, such as geopolitical developments, trade policy, weather implications and supply/demand fluctuations. My primary analysis involved market condition statistics, including volume, price, profile and behavioral patterns. In laymen’s terms I spent 5 years becoming one with S&P 500 futures.
          // /Article
          // Sidebar
          aside.col-md-4.sidebar.sidebar-left.playlist
              .widget
                a.twitter-timeline(href='https://twitter.com/WilBeCoding', data-widget-id='666353981652779008') Tweets by @WilBeCoding
                   script.
                     !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

          // /Sidebar
      // /container

  include footerPlaceholder
