footer#footer.topspace
  .container
    .row.bottom
      .col-md-2.widget
        h3.widget-title Follow me
        .widget-body
          p.follow-me-icons
            a(href='https://twitter.com/WilBeCoding')
              i.fa.fa-twitter.fa-2
            a(href='')
              i.fa.fa-dribbble.fa-2
            a(href='https://github.com/WilBeCoding')
              i.fa.fa-github.fa-2
            a(href='https://www.facebook.com/WilRondini')
              i.fa.fa-facebook.fa-2
      .col-md-9.widget
        h3.widget-title 
          form
            input(type='text' placeholder='Name')
            input(type='text' placeholder='Email')
            input(type='text' placeholder='Message' style='height: 150px')
            input(type='submit' value='Submit')
        .widget-body
      .col-md-1.widget
        h3.widget-title Contact
        .widget-body
          p
            br
            a(href='mailto:wilbecoding@gmail.com') WilBeCoding@gmail.com
            br
            br
            |             Boulder, CO
    // /row of widgets
footer#underfooter
  .container
    .row
      .col-md-6.widget
        .widget-body
          p Boulder, CO
      .col-md-6.widget
        .widget-body
          p.text-right
            | Copyright © 2015, Wilson Rondini
            br
            |             Design: 
            a(href='http://www.gettemplate.com', rel='designer') Initio by GetTemplate
    // /row of widgets
// JavaScript libs are placed at the end of the document so the pages load faster
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
script(src='../javascripts/template.js')
