doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Sergey Pozhilov (GetTemplate.com)')
    title About Wil
    link(rel='shortcut icon', href='../images/gt_favicon.png')
    // Bootstrap
    link(href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css', rel='stylesheet')
    // Icon font
    link(href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
    // Fonts
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700')
    // Custom styles
    link(rel='stylesheet', href='../stylesheets/styles.css')
    //if lt IE 9
    script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js')
    script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src='../javascripts/hcSticky.js')
    script(src='../javascripts/html5shiv.js')
    script(src='../javascripts/jQuery.js')

  body
    header#header
      #head.parallax(parallax-speed='1')
        h1#logo.text-center
          span.title Anthony Russel
          span.tagline
            | A mystery person
            br
            a(href='') wilbecoding@gmail.com
      nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          .navbar-collapse.collapse
            ul.nav.navbar-nav
              li
                a(href='index') Home
              li.active
                a(href='about') About
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | More Pages 
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='sidebar-left.html') Left Sidebar
                  li
                    a(href='sidebar-right.html') Right Sidebar
                  li
                    a(href='single.html') Blog Post
              li
                a(href='http://wilsonrondini.postach.io') Blog
          // /.nav-collapse