doctype html
html(lang='en')
    include secondaryHeader
    main#main
      .container
        .row.topspace
          // Article main content
          article.col-sm-8.maincontent
            header.page-header
              h1.page-title Break Away
            p
              img(src='../images/albumcover.jpg', alt='')
            p
              | This picture was taken by John Marin off College Ave on the Hill in Boulder,CO.
              | It made for a fantastic album cover.
            h3 My Relationship With Music
            p
              | Music is my meditation. I enjoy the process of songwriting. The ritual of it all. Songs occassionally write themselves once one has a process in place. Write. Rewrite. Write. Rewrite. Write. Rewrite. The wax on, wax off of the creative process. Trust the process yada yada. Why is this so hard to write. Short. Professional. Get deep in a blog post if you must. 
          // /Article
          // Sidebar
          aside.col-md-4.sidebar.sidebar-left.playlist
              .widget
                h4 Spotify Playlist Here
                ul
                  li
                    a(href='') Lorem ipsum 
                    | dolor sit amet.
                  li Nostrum, dolores labore tempore error.
                  li Qui esse impedit vitae repellat.
                  li Aliquam, laborum corporis molestiae nihil.
                  li Voluptate, labore non adipisci nihil!
          // /Sidebar
      // /container

  include footerPlaceholder
