extends secondaryHeader

block content
    main#main
      .container
        .row.topspace
          // Article main content
          article.col-sm-8.maincontent
            header.page-header
              h1.page-title Lorem ipsum dolor sit amet, consectetur.
            p
              img(src='assets/images/s2.jpg', alt='')
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam beatae soluta accusantium iusto nihil nesciunt unde veniam magnam repudiandae sapiente.
            h3 Necessitatibus
            p
              | Velit, odit, eius, libero unde impedit quaerat dolorem assumenda alias consequuntur optio quae maiores ratione tempore sit aliquid architecto eligendi pariatur ab soluta doloremque dicta aspernatur labore quibusdam dolore corrupti quod inventore. Maiores, repellat, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam!
            blockquote
              | Velit, odit, eius, libero unde impedit quaerat dolorem assumenda alias consequuntur optio quae maiores ratione tempore sit aliquid architecto eligendi pariatur ab soluta doloremque dicta aspernatur labore quibusdam dolore corrupti quod inventore. Maiores, repellat, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam!
            p
              | Velit, odit, eius, libero unde impedit quaerat dolorem assumenda alias consequuntur optio quae maiores ratione tempore sit aliquid architecto eligendi pariatur ab soluta doloremque dicta aspernatur labore quibusdam dolore corrupti quod inventore. Maiores, repellat, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam!
            ul
              li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus!
              li Laboriosam, aliquam totam asperiores nam velit voluptatum non quidem.
              li Voluptatem, libero quia voluptatum ab modi facere dolore assumenda?
              li Expedita, officia tenetur doloremque nulla temporibus ab voluptates adipisci.
              li
                | Nostrum, nesciunt, inventore amet temporibus officia perferendis doloremque nulla.
              li Dolorum, ex earum maiores perspiciatis modi sequi odit mollitia.
          // /Article
          // Sidebar
          aside.col-md-4.sidebar.sidebar-left
            .widget
              h4 Lorem ipsum dolor sit
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, ratione delectus reiciendis nulla nisi pariatur molestias animi eos repellat? Vel.
            .widget
              h4 Lorem ipsum dolor sit
              ul
                li
                  a(href='') Lorem ipsum 
                  | dolor sit amet.
                li Nostrum, dolores labore tempore error.
                li Qui esse impedit vitae repellat.
                li Aliquam, laborum corporis molestiae nihil.
                li Voluptate, labore non adipisci nihil!
          // /Sidebar
      // /container
include footer
